<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        h1 {
            padding: 10px;
        }
        .form {
            margin: 10px;
        }
        .link {
            margin-left: 70px;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form">
            {{ form.SID.label }}<br>
            {{ form.SID }}
        </div>
        <div class="form">
            {{ form.password.label }}<br>
            {{ form.password }}
        </div>
        <div class="form">
            {{ form.submit }}
            <a href="{{ url_for('sign_up_page') }}" class="link">Sign Up</a>
        </div>
    </form>
</body>
</html>
